body {
    background-color: lightyellow;
}

h1 {
    text-align: center;
    color: blue;
}

h2 {
    margin-left: 60%;
}

h3 {
    text-align: center;
    font-size: 22px;
}

p {
    text-indent: 36px;
    font-size: 18px;
    line-height: 27px;
    margin-left:5%;
    margin-right:5%;
}

h4 {
    text-indent: 36px;
    font-size: 20px;
}

